body{
    padding: 21px;
}

#result{
    margin: 20px 0;
    padding: 12px;
}

.fr {
    float: right;
}

.form{
    padding: 12px;
    width: 462px;
}

.method{
    margin-left: 17px;
}